* {
    margin: 0;
    padding: 0;
    font-family: "source_sans_prosemibold", Verdana, sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    min-width: 100%;
    overflow: hidden;
}

/* HEADER CSS*/
header {
    box-sizing: border-box;
    height: 50px;
    background-color: #00b7c8;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
}

header nav #title {
    display: inline-block;
    min-width: 250px;
    font-size: 35px;
    height: inherit;
    width: 300px;
}

a {
    text-decoration: none;
    color: inherit;
}

nav {
    box-sizing: border-box;
    display: flex;
    width: inherit;
    height: inherit;
    margin-left: 20px;
}

nav ul {
    display: flex;
    align-items: center;
    padding-top: 10px;
    height: 40px;
    width: inherit;
    list-style: none;
}

nav ul li {
    display: inline-block;
    height: 40px;
    padding: 0 15px;
}

nav ul a {
    display: inline-block;
    height: inherit;
    padding: 5px 10px;
}

nav ul a:hover {
    background-color: white;
    color: #757575;
}
/*END HEADER CSS*/

/*MAIN CSS*/
main {
    width: 100%;
    height: 75%;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #212121;
}

.content-wrapper {
    display: block;
    width: 40rem;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    text-align: center;
    margin-bottom: 100px;
}

/*BEGIN SVG CSS*/
/*------------------------------THIS IS OBVIOUSLY TEMPORARY------------------------------*/
svg {
    margin-top: 50px;
    height: 85%;
}

/*STOP JUDGING ME, OBVIOUSLY TEMPORARY*/
#neck:hover{
    fill: #00b7c8;
}

#trap:hover{
    fill: #00b7c8;
}

#trap-2:hover {
    fill: #00b7c8;
}

#delt:hover {
    fill: #00b7c8;
}

#delt-2:hover {
    fill: #00b7c8;
}

#tricep:hover {
    fill: #00b7c8;
}

#tricep-2:hover {
    fill: #00b7c8;
}

#bicep:hover {
    fill: #00b7c8;
}

#bicep-2:hover {
    fill: #00b7c8;
}
#chest:hover {
    fill: #00b7c8;
}

#abs:hover {
    fill: #00b7c8;
}

#hips:hover {
    fill: #00b7c8;
}

#oblique:hover {
fill: #00b7c8;
}

#oblique-2:hover {
fill: #00b7c8;
}


#quad:hover{
    fill: #00b7c8;
}

#quad-2:hover{
    fill: #00b7c8;
}
/*END SVG CSS*/


/*FOOTER CSS*/
footer {
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    height: 100px;
    width: inherit;
    background-color: #f9f9f9;
    color: #7a7a7a;
}

footer #footer-content {
    display: block;
    height: 200px;
    width: 100px;
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
/*END FOOTER CSS*/